*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    border: border-box;
}

body{
    background-color: #e4e2e2;
}
a{
    text-decoration: none;
}
/* navigation bar */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display:flex;
    align-items: center;
    padding: 3px 5px;
}
.nav-logo{
    height: 55px;
    width: 130px;
    padding: 1px 8px 0px 6px;

}
.logo{
    height: 100%;
    width: auto;
    background-image: url("amazon_logo.png");
    background-size: cover;
}
.border{
    border: 2px solid transparent;
    border-radius: 3px;
}
.border:hover{
    border:1.5px solid white;
}
.nav-addr{
    display: flex;
    height: 50px;
    width: 100px;;
    padding:0px 9px;
    align-items: center;
}
.add1{
    color: #cccccc;
    font-size: 12px;
    width: 53px;
}
.add2{
     font-size: 14px;
     font-weight: 700;
}
.add-text{
    display:flex;
    flex-direction: column ;
}
#qw{
    padding-top: 8px;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    width:100%;
    height: 40px;
    border-radius: 5px;
    margin: 0px 5px;
}
.nav-search:focus-within{
    border: 4px solid #f4a83d;
    border-radius: 9px;;
}
.search-opt{
    background-color: #e6e6e6;
    width:50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;

}
.search-txt{
    width: 100%;
    font-size: 1rem;
    border:none;
    padding: 3px 7px;
}
input:focus,
textarea:focus {
    outline: none;
    border: none; /* optional – only if you also want to remove border */
}
.search-icon{
    width:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #ffbf68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color:#0f1111;
}
span{
    font-size: 0.7rem;
}
.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-tools{
    display: flex;
    width: 380px;
    height: 58px;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px 6px;
}
.nav-sign-in{
    display: flex;
    padding: 5px 5px;
    width: 114px;
}
#qs{
    background-color: transparent;
    color: white;
    text-align: center;
}
.nav-return{
     padding: 5px 5px;
     width: 77px;
}
.nav-cart i{

   font-size: 1.5rem;
}
.nav-cart{
    width: 84px;
    font-weight: 700;
    font-size: 13px;
    padding: 10px 5px;
}

/* panel */
.panel{
    height: 39px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
}
.pan-menu{
    width: 60px;
    padding: 8px 9px;
}
.pan-menu i{
  font-size: larger;
}
#qp{
  font-size: medium;  
  font-weight: 600;
}
.pan-contents{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.pan-con{
    padding: 8px 3px;
    margin: 0px 4px;
    font-size: 14px;
}

/* hero section */
main{
  max-width: 1500px;   /* Amazon uses ~1500–1600px */
  margin: 0 auto;      /* THIS centers it */
  height: 90%;
  padding: 0 16px; 
  /* background-color: aquamarine; */
}
.hero-bg{
    align-self: center;
    background-image:linear-gradient(
      to bottom,
      rgba(0,0,0,0) 40%,
      rgba(228, 226, 226,0.9)
    ), url("hero-sec-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
}
.hero-components{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* positioning */
    position: relative;
    bottom: 350px;
    /* maintaining at center */
    max-width: 1500;   /* Amazon uses ~1500–1600px */
    margin: 0 auto;      /* THIS centers it */
    /*  */
    /* background-color: blue; */
}
.hero-txt{
    background-color: #f5f6f6;
    height: 40px;
    width: 96%;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}
#mn{
    text-decoration: none;
    color:#007185;
}
#mn:hover{
    text-decoration: underline;
}
.hero-shop-items{
    height:auto;
    /* background-color: palevioletred; */
    width: 100%;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    padding:20px 0px;
}
/* 1 card box */
.box{
    height: auto;
    width:23%;
    padding:0px 10px 20px 10px;
    /* margin-top:5px ;   */
}
@media(max-width:1200px){
    .box{
        width:30%;
    }
}
.box11{
    background-color: white;
    height:360px;
    padding:20px 0px 15px 0px;
}
.box11-text{
  font-size: 0.8rem;  
  padding:0px 0px 15px 20px;
}
.inbox1{
     height: 100%;
     margin: 0px 20px;
     display: flex;
     flex-direction: column;
     /* justify-content: space-between; */
}
.inbox11{
 background-image:url('pic1.jpg') ;
 background-size: cover;
 height:80%;
 width:100%;
 background-position: center;
}
.shop-link{
    color:#007185;
    margin-top:23px;
    font-size: 13px;
    
}
/* 4card boxes */
.box1{
     background-color: white;
    height:360px;
    padding:20px 0px 15px 0px;
    display: flex;
    flex-direction: column;
}
.inbox2{
     height:77%;
     width:100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
        margin:0px 20px;
}
.inbox21{
    display: flex;
    flex-direction: column;
    width: 47%;
    height: 52%;
}
.inbox-image{
background-size: cover;
background-position: 45% 0%;
height: 70%;
width:90%;
}
.inbox-text{
    font-size: small;
}


/* footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #232f3e;
    width: 100%;
}
.footer1{
    font-size: 13px;
    background-color: #27475a;
    margin: 0px 0px 40px;
    padding: 15px 0px;
    width: 100%;
    text-align: center;
}
.footer2{  
    display: flex;
    align-content: flex-start;
    justify-content: center;
}
.footer21{
   width: 15%; 
   max-width: fit-content;
}
.footer2-gap{
    width: 100px;
    padding: 0px 10px;
}
.footer2-list{
    list-style-type: none;
    font-size: 14px;
    color: #dddddd;
}
.footer2-list li{
    padding: 0px 0px 10px;
}
.footer2-list li:hover{
    text-decoration: underline;
}
.footer2-headers{
    font-weight: 600;
    margin: 6px 0px 14px;
}
.footer-line{
    border-bottom: 0.2px solid #555555;
    margin-top:40px;
    width:100%;
}
.footer3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #dddddd;
    margin: 10px 123px;
    width: 1000px;
    height: 68px;
   
}
.footer3-logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 120px;
    height: 68px;
    padding: 0px 7.2px;
    margin-top: 18px;
}
.footer3-tools{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:18px 0px 0px 70px;
}
.footer31{
    border: 0.5px solid #dddddd;
    border-radius: 3px;
    margin:4px;
    padding:10px
}
.footer4{
    background-color: #131a22;
    font-size: 14px;
    color: #bbbbbb;
    padding:30px 0px;
    width:100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.footer41{
    width: 1000px;
    height: 320px;
    margin:0px 123px;
    display: flex;
    justify-content: center;
}
.footer41 ul{
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.footer41-row{
    display: flex;
    flex-direction: column;
}
.footer41-gap li{
    list-style: none;
    width:23.75px;
    height: 53.6px;
}
.footer41-row li{
    list-style: none;
    width:102.5px;
    height:25%;
    color: #999999;
    padding: 0px 9px;
}
.footer41-row li:hover{
    text-decoration: underline;
}
.footer41 ul li h5{
    color:#cccccc
}
.footer41 ul li span{
    font-size: 11.5px;
    line-height: 1.1;
}
.footer5{
    background-color: #131a22;
    width: 100%;
    padding: 10px 0px 30px;
    color: #dddddd;
    font-size: 12px;
}
.footer51{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}
.footer51 ul{
margin-left: 18px;
 display: flex;
}
.footer51 ul li{
    list-style-type: none;
    padding: 0px 7.2px;
}
.footer51 span{
    padding: 0px 7.2px;
    margin:10px 10px 0px 10px;
}